    {{!-- Area where posts will be displayed --}}
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h1>What Everyone Is Saying...</h1>
            </div>
            {{!-- Button to create a new post, will pop up a modal to submit a post --}}
            <div class="col text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPostModal">CREATE A POST</button>
            </div>
        </div>
        <table class="table table-striped">
            <tbody>
                {{!-- Pulling posts from API using handlebars and displaying them on the page --}}
                {{#each postData}}
                    <tr>
                        <td><strong><h3>{{this.title}}</h3></strong></td>
                        <td class="text-end"><i>Posted by: {{this.username}} @ {{formatDate this.createdAt}}</i></td>
                    </tr>
                    <tr>
                        <td colspan="2">{{this.post}} 
                                                        <div class="text-end mt-2">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#commentModal" data-post-id="{{this.id}}">Comment</button>
                            </div>
                        </td>
                    </tr>
                    {{!-- Using handlebars to now pull comments from API and display dynamically  --}}
                    {{#each this.comments}}
                        <tr>
                            <td colspan="2" class="ps-4">
                              {{this.comment}}  - <i>{{this.username}} @ {{formatDate this.createdAt}}</i>
                            </td>
                        </tr>
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>


{{!-- Modal for creating a new post --}}
<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">Create New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="newPostForm">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="posttitle" required>
          </div>
          <div class="mb-3">
            <label for="post" class="form-label">Post</label>
            <textarea class="form-control" id="newpost" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


    {{!-- Modal for adding a comment to a post --}}
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="commentModalLabel">Leave a Comment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="newCommentForm">
              <input type="hidden" id="postId">
              <div class="mb-3">
                <label for="commentText" class="form-label">Comment</label>
                <textarea class="form-control" id="commentText" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>